<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="row mt-4">
    <div class="col">
      <div class="jumbotron">
        <div class="loading">

            <span>Poll App</span>
          </div>
          </div>
        </div>
        </div>


<mat-accordion>

  <div *ngFor = "let item of pollArray; let index = index; trackBy:track">
    <mat-expansion-panel hideToggle (opened)="createGraph(index)">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{questions[index]}}
        </mat-panel-title>
        <mat-panel-description>
            Make selection then click on vote.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row mt-4">
          <div class="col">
            <div class="jumbotron">
              <h2>
                {{questions[index]}}
              </h2>
              <p>
                Make selection then click on vote.<br>
              </p>
              <form>
              <p class="lead">        
              </p>
              <div *ngFor = "let item of pollArray[index].options; let i = index">
              <label>  
                <input type="radio" name="demo" class="card-input-element d-none" id="choiceindex" [(ngModel)] = "selection" [value] = "i">
                <div class="card card-body bg-light d-flex flex-row justify-content-between align-items-center">
                  {{pollArray[index].options[i].text}}           
                </div>          
                </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" (click)="sendVote(index)">Vote</button>
                    Your selection is : {{labels[index][selection]}} 
                  </div>
                </form>
                <div style="display: block;">
                  <canvas baseChart
                    [data] = "pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [legend]="pieChartLegend"
                    [colors]="pieChartColors">
                      
                  </canvas>
                </div>
            </div>
          </div>
        </div>
    </mat-expansion-panel>
  </div>
  
</mat-accordion>